@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&family=Raleway:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-color1: #252b48;
  --dark-color2: #272829;
  --neutral-color: #F5F5F5; 
  --accent-color: #FF6000;
  --main-font: 'Poppins', sans-serif;
  --title-font: 'Raleway', sans-serif;
}

