@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&family=Raleway:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-color1: #252b48;
  --dark-color2: #272829;
  --neutral-color: #F5F5F5; 
  --accent-color: #FF6000;
  --main-font: 'Poppins', sans-serif;
  --title-font: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--neutral-color);
  background-color: var(--dark-color2);
  font-family: var(--main-font);
}

#navbar {
  position: fixed;
  background-color: var(--accent-color);
  min-width: 100svw;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

a {
  color: unset;
  text-decoration: none;
}

.navlink {
  display: inline-block;
  padding: 1rem;
  font-size: 24px;
}

.navlink:hover {
  background-color: var(--dark-color1);
}

#welcome-section {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#welcome-title {
  font-family: var(--title-font);
  font-size: 42px;
  font-weight: 500;
  color: var(--accent-color);
}

#welcome-subtitle {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 30px;
  font-style: italic;
}

