@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&family=Raleway:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-color1: #252b48;
  --dark-color2: #272829;
  --neutral-color: #F5F5F5; 
  --accent-color: #FF6000;
  --main-font: 'Poppins', sans-serif;
  --title-font: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--neutral-color);
  background-color: var(--dark-color2);
  font-family: var(--main-font);
}

#navbar {
  position: fixed;
  background-color: var(--accent-color);
  min-width: 100svw;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

a {
  color: unset;
  text-decoration: none;
}

.navlink {
  display: inline-block;
  padding: 1rem;
  font-size: 24px;
}

.navlink:hover {
  background-color: var(--dark-color1);
}

#welcome-section {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#welcome-title {
  font-family: var(--title-font);
  font-size: 64px;
  font-weight: 500;
}

#welcome-subtitle {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 30px;
  font-style: italic;
  color: var(--accent-color);

}

#projects {
  background-color: var(--dark-color1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  padding-top: 5%
}

#project-title {
  font-family: var(--title-font);
  font-size: 45px;
  text-decoration: underline;
}

.project-img {
  width: 95svw;
  min-width: 300px;
  height: auto;
  max-width: 100%;
  display: block;
  object-fit: cover;
}

#projects-wrapper {
  margin: 2rem 0;
}

.project-tile {
  margin: 0 1.5rem;
}

.project-title {
  text-align: center;
  padding: 0.5rem 0;
  background-color: var(--dark-color2);
}

.code {
  color: var(--accent-color);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.project-tile:hover .code {
  opacity: 1;
}

#profile-link {
  padding: 1rem 1.6rem;
  background-color: var(--dark-color2);
  font-size: 21px;
  transition: all 0.2s ease-in-out;
}

#profile-link:hover {
  background-color: var(--accent-color);
}

#profile-link:hover i {
  transform: translateX(50%);
}